@font-face {
    font-family: 'iconFont';
    src:  url('../../fonts/iconFont.eot?dfokdz');
    src:  url('../../fonts/iconFont.eot?dfokdz#iefix') format('embedded-opentype'),
      url('../../fonts/iconFont.ttf?dfokdz') format('truetype'),
      url('../../fonts/iconFont.woff?dfokdz') format('woff'),
      url('../../fonts/iconFont.svg?dfokdz#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  